# Docker Compose Environment
APP_KEY=
DB_DATABASE=gefther
DB_USERNAME=gefther
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
REDIS_PASSWORD=
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
BACKEND_PORT=8000
FRONTEND_PORT=3000
